* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

main {
  transition: all 0.5s ease-in-out; }
  main.portion-main {
    transform: translateX(-100px); }

.sidebarBtn {
  background-color: #0096dd;
  color: #ffffff;
  transition: all .25s ease-in-out; }
  .sidebarBtn:hover {
    background-color: #007db8;
    color: #ffffff; }

.resources,
.custom-exercises {
  background-color: #f7f7f9;
  flex-direction: column;
  padding: 20px; }
  .resources ul li,
  .custom-exercises ul li {
    list-style: none; }

nav {
  background-color: #8a3685;
  min-height: 100vh;
  min-width: 200px;
  overflow: scroll;
  opacity: 1;
  transition: all 0.5s ease-in-out; }
  nav.inactive-sidebar {
    transform: translateX(-100%);
    opacity: 0; }
  nav #home:hover {
    text-decoration: none; }
  nav #home h5 {
    color: #ffffff; }

#accordion .cohort__title {
  display: grid;
  grid-template-columns: 80% 20%;
  cursor: pointer; }
  #accordion .cohort__title h6 {
    color: #ffffff; }
  #accordion .cohort__title .fa-circle {
    color: #af4ea9;
    transition: color .25s ease-in-out; }
  #accordion .cohort__title:hover .fa-circle {
    color: #bc6bb7; }

#accordion .cohort__weeks-container__weeks {
  list-style: none; }
  #accordion .cohort__weeks-container__weeks li a {
    color: #ffffff; }

.grid-example .row div {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e2eb;
  border: 1px solid #c9c1d5; }

.grid-example__directions {
  border-top: 1px solid #c9c1d5;
  margin-top: 20px; }
  .grid-example__directions h3 {
    margin-top: 20px; }
  .grid-example__directions ol li {
    margin-left: 15px; }

#viewport-size {
  background-color: #af4ea9;
  color: #ffffff;
  padding: 8px; }
