* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

nav {
  background-color: #fff;
  box-shadow: 2px 2px 50px #c9c9c9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  width: 20rem; }
