nav {
  background-color: $purple-dark;
  box-shadow: 2px 2px 50px #c9c9c9;
  height: 100vh;
  overflow: scroll;

  #home {
    &:hover {
      text-decoration: none;
    }

    h5 {
      color: $white;
    }
  }
}

#accordion {
  .cohort {
    &__title {
      display: grid;
      grid-template-columns: 80% 20%;

      h6 {
        color: $white;
      }

      .fa-circle {
        color: $purple-light;
      }
    }

    &__weeks-container {
      &__weeks {
        list-style: none;

        li {
          a {
            color: $white;
          }
        }
      }
    }
  }
}