nav {
  background-color: $purple-dark;
  min-height: 100vh;
  height: calc(100vh - 48px);
  min-width: 200px;
  overflow: scroll;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  &.inactive-sidebar {
    transform: translateX(-100%);
    opacity: 0;
  }

  #home {
    &:hover {
      text-decoration: none;
    }

    h5 {
      color: $white;
    }
  }
}

#accordion {
  .cohort {
    &__title {
      display: grid;
      grid-template-columns: 80% 20%;
      cursor: pointer;

      h6 {
        color: $white;
      }

      .fa-circle {
        color: $purple-light;
        transition: color .25s ease-in-out;
      }

      &:hover .fa-circle {
        color: $purple-hover;
      }
    }

    &__weeks-container {
      &__weeks {
        list-style: none;

        li {
          a {
            color: $white;
          }
        }
      }
    }
  }
}

.breadcrumb-container {
  margin-left: -15px;
  margin-right: -15px;

  .breadcrumb {
    border-radius: 0px;
  }
}