nav {
  background-color: $purple-dark;
  box-shadow: 2px 2px 50px #c9c9c9;
  height: 100vh;
  min-width: 200px;
  overflow: scroll;

  opacity: 1;
  transition: all 0.5s ease-in-out;

  &.inactive-sidebar {
    transform: translateX(-100%);
    opacity: 0;
  }

  #home {
    &:hover {
      text-decoration: none;
    }

    h5 {
      color: $white;
    }
  }
}

#accordion {
  .cohort {
    &__title {
      display: grid;
      grid-template-columns: 80% 20%;
      cursor: pointer;

      h6 {
        color: $white;
      }

      .fa-circle {
        color: $purple-light;
        transition: color .25s ease-in-out;
      }

      &:hover .fa-circle {
        color: $purple-hover;
      }
    }

    &__weeks-container {
      &__weeks {
        list-style: none;

        li {
          a {
            color: $white;
          }
        }
      }
    }
  }
}