$white: #ffffff;
$gray: #f7f7f9;

$purple-light: #af4ea9;
$purple-dark: #8a3685;
$purple-hover: #bc6bb7;

$blue: #0096dd;
$blue-hover: #007db8;

$border-color: #c9c1d5;

$grid-background-color: #e6e2eb;
